<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Blog</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default techfonts custom-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a></li>

                <li><a href="https://www.github.com">Github</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'post_new' %}">New Post</a></li>
                    <li><a href="{% url 'post_draft_list' %}">Draft</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li><a>Welcome: {{ user.username }}</a></li>
                {% else %}
                    <li><a class="nav navbar-right" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- CONTENT_BLOCK -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_post">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>